/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Above this line is the reset text, not design code */

@import url("https://fonts.google.com/specimen/Roboto+Mono");

* {
  box-sizing: border-box;
}
/* Universal Selector, do not edit */

body {
  font-family: "Roboto Mono", monospace;
  font-size: 62.5%;
  margin: 0 auto;
  padding: 4%;
}
/* This is only for Navigation code */
nav {
  text-align: center;
  margin: 0 20;
  font-size: 1rem;
}

.button1 {
  display: inline-block;
  margin-left: 4%;
  padding: 2%;
  border-radius: 10px;
  background-color: #ff764e;
  color: white;
  text-decoration: none;
}

.button2 {
  display: inline-block;
  margin-left: 4%;
  padding: 2%;
  background-color: #5ed3eb;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.button3 {
  display: inline-block;
  margin-left: 4%;
  padding: 2%;
  background-color: #ffcd69;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

/* End of Navigation code */

/* Beginning of header and img code */

.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}
.container img {
  width: 20%;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0 2%;
}
.container div {
  width: 70%;
  display: inline-block;
}

.container h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 3rem;
  display: inline-block;
  text-align: center;
  margin: 4%;
  width: 60%;
}
.container p {
  text-align: center;
  letter-spacing: 1.3;
  font-size: 1rem;
}

/* Code for text under the header/pink background */
.section1 {
  background-color: #ddb9a3;
  width: 100%;
}
.section1 p {
  text-align: center;
  font-size: 1rem;
  padding: 2%;
  color: white;
}

.spaceBetween {
	padding: 1%;
	margin-bottom: 1%;
}

/* These are sections for the RV and campfire icons for now */
.section2 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;

}
.section2 p {
	text-align: center;
}
.section2 img {
  display: inline-block;
  width: 10%;
}
.section2 div {
  padding: 5%;
  margin: 0 auto;
}
.middleSection {
	padding-left: 30%;
padding-right: 30%;
}
span {
  font-weight: bold;
}
/* Do not touch above this line yet */

/* Footer things go below this to allow for cascade */
footer {
  background-color: #f9e7dc;
  width: 100%;
}

footer section {
background-image:url("assets/footer_img.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;
height: 20vh;


}
/*
.bottomImg {
  object-fit: cover;
  object-position: 0% 0%;
  height: 30vh;
  width: 100%;
}
*/